.btn-outlined {
    color: #26a69a;
    display: inline-flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-image-outset: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-color: #9e9e9e;

    font-size: 14px;

    height: 36px;
    line-height: 36px;

    outline-style: none;
    outline-width: 0px;
    padding-left: 16px;
    padding-right: 16px;

    text-transform: uppercase;

    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: ease;

    cursor: pointer;
}

.canvas nav .nav-wrapper .title {
    font-size: 2.1rem;
}

.btn-outlined:hover {
    background-color: rgba(38, 166, 154, 0.1);
}

.btn-outlined i {
    order: -1;
}

#input-form {
    padding: 20px 40px;
}

main.form .events {
    padding: 10px 20px;
}

main.form .events .collapsible-body {
    padding: 20px;
    padding-bottom: 50px;
}

main.form .events .collapsible-header .title {
    padding-left: 20px;
}

main.form .events .collapsible-header .secondary-content {
    margin-left: auto;
}

main.form .events .collapsible-header .secondary-content i.delete {
    color: #9e9e9e;
}

main.form .events .collapsible-header .secondary-content i.delete:hover {
    color: #f44336;
}

main.form .calendar.card {
    padding: 0;
}

main.form .calendar-title {
    width: 100%;
    background: #ee6e73;
    padding: 20px 0;
}

main.form .calendar-title.row {
    margin: 0;
}

main.form .calendar-title i {
    font-size: 80px;
    color: #e0e0e0;
}

main.form .calendar-title .begin {
    position: relative;
    left: 0;
}

main.form .calendar-title .end {
    position: relative;
    right: 0;
}

main.form .calendar-title .date {
    /* padding: 10px 0; */
    color: white;
}

main.form .calendar-title .date .month {
    font-size: 35px;
}

main.form .calendar-body {
    padding: 10px;
}

main.form .calendar-body tbody tr td span {
    cursor: pointer;
}

main.form .circled {
    padding: 10px;
    border-radius: 5px;
}

main.form .circled.digit {
    padding-right: 14px;
    padding-left: 14px;
}

main.form td.selected > .circled {
    color: white;
    background-color: #4db6ac;
}

main.form .style > .color, .style > .shadow {
    padding: 10px;
    padding-left: 20px;
}

main.form .color-picker.row {
    margin-left: 20px;
    margin-top: 20px;
}

main.form .color-picker.row .col {
    height: 40px;
    margin: 2px;
}

main.form .shadow_checkbox {
    margin-left: 20px;
}

#canvas, #download_link {
    display: none;
}